<style type="text/css">
	#content .comments a.reply-link {
		color: #027B91;
		cursor: pointer;
		border-bottom: 1px dashed #027B91;
	}
	.comments .comment {
		margin-bottom: 15px;
	}
	
	#content .comments a.add-comment {
		font-size: 16px;
		color: #027B91;
		font-weight: bold;
		cursor: pointer;
		border-bottom: 1px dashed #027B91;
	}
</style>
<h2>Comments:</h2>
<div id="comments" class="comments">
	{{ comments }}
	<a class="add-comment" href="#add-comment">Add comment</a>
</div>
<div id="comment_form" class="comment_form" style="display:none;">
	<a name="add-comment"></a>
	<textarea id="comment_text" name="comment" rows="5"></textarea><br/>
	<input id="owner_id" type="hidden" name="owner_id" />
	<input id="owner_model" type="hidden" name="owner_model" />
	<input id="send_comment_btn" type="button" value="Post a comment"/>
</div>
<script>
	OWNER_ID = '{{ owner.pk }}';
	OWNER_MODEL = '{{ owner._meta.verbose_name }}';
</script>
{% body_scripts "comments:jquery-tmpl,comments:comments" %}